<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.ppgraduate.dao.SortDao">
    <select id="selectSortItemGoods" resultType="com.pp.ppgraduate.entity.GoodsModel">
        SELECT g.goods_id, g.goods_name, g.goods_photo1,g.goods_sell, g.goods_weight, g.goods_price, s.sort_id, s.sort_name, si.sort_item_id, si.sort_item_name
        FROM db_car.g_goods g
        LEFT JOIN db_car.g_sort s ON s.sort_id = g.sort_id
        LEFT JOIN db_car.g_sort_item si ON g.sort_item_id = si.sort_item_id
    </select>

    <select id="selectSortItem" resultType="com.pp.ppgraduate.entity.GoodsModel">
        SELECT sort_id, sort_item_id, sort_item_name
        FROM db_car.g_sort_item
    </select>

    <select id="selectSort" resultType="com.pp.ppgraduate.entity.GoodsModel">
        SELECT *
        FROM db_car.g_sort
    </select>

    <select id="selectSortItemBySortId" resultType="com.pp.ppgraduate.entity.SortItemModel">
        SELECT * FROM g_sort_item where sort_id = #{id}
    </select>
</mapper>
